<option value=1>Arecanut</option>
<option value=2>Other Kharif pulses</option>
<option value=3>Rice</option>
<option value=4>Banana</option>
<option value=5>Cashewnut</option>
<option value=6>Coconut </option>
<option value=7>Dry ginger</option>
<option value=8>Sugarcane</option>
<option value=9>Sweet potato</option>
<option value=10>Tapioca</option>
<option value=11>Black pepper</option>
<option value=12>Dry chillies</option>
<option value=13>other oilseeds</option>
<option value=14>Turmeric</option>
<option value=15>Maize</option>
<option value=16>Moong(Green Gram)</option>
<option value=17>Urad</option>
<option value=18>Arhar/Tur</option>
<option value=19>Groundnut</option>
<option value=20>Sunflower</option>
<option value=21>Bajra</option>
<option value=22>Castor seed</option>
<option value=23>Cotton(lint)</option>
<option value=24>Horse-gram</option>
<option value=25>Jowar</option>
<option value=26>Korra</option>
<option value=27>Ragi</option>
<option value=28>Tobacco</option>
<option value=29>Gram</option>
<option value=30>Wheat</option>
<option value=31>Masoor</option>
<option value=32>Sesamum</option>
<option value=33>Linseed</option>
<option value=34>Safflower</option>
<option value=35>Onion</option>
<option value=36>other misc. pulses</option>
<option value=37>Samai</option>
<option value=38>Small millets</option>
<option value=39>Coriander</option>
<option value=40>Potato</option>
<option value=41>Other Rabi pulses</option>
<option value=42>Soyabean</option>
<option value=43>Beans & Mutter(Vegetable)</option>
<option value=44>Bhindi</option>
<option value=45>Brinjal</option>
<option value=46>Citrus Fruit</option>
<option value=47>Cucumber</option>
<option value=48>Grapes</option>
<option value=49>Mango</option>
<option value=50>Orange</option>
<option value=51>other fibres</option>
<option value=52>Other Fresh Fruits</option>
<option value=53>Other Vegetables</option>
<option value=54>Papaya</option>
<option value=55>Pome Fruit</option>
<option value=56>Tomato</option>
<option value=57>Rapeseed &Mustard</option>
<option value=58>Mesta</option>
<option value=59>Cowpea(Lobia)</option>
<option value=60>Lemon</option>
<option value=61>Pome Granet</option>
<option value=62>Sapota</option>
<option value=63>Cabbage</option>
<option value=64>Peas (vegetable)</option>
<option value=65>Niger seed</option>
<option value=66>Bottle Gourd</option>
<option value=67>Sannhamp</option>
<option value=68>Varagu</option>
<option value=69>Garlic</option>
<option value=70>Ginger</option>
<option value=71>Oilseeds total</option>
<option value=72>Pulses total</option>
<option value=73>Jute</option>
<option value=74>Peas & beans (Pulses)</option>
<option value=75>Blackgram</option>
<option value=76>Paddy</option>
<option value=77>Pineapple</option>
<option value=78>Barley</option>
<option value=79>Khesari</option>
<option value=80>Guar seed</option>
<option value=81>Moth</option>
<option value=82>Other Cereals & Millets</option>
<option value=83>Cond-spcs other</option>
<option value=84>Turnip</option>
<option value=85>Carrot</option>
<option value=86>Redish</option>
<option value=87>Arcanut (Processed)</option>
<option value=88>Atcanut (Raw)</option>
<option value=89>Cashewnut Processed</option>
<option value=90>Cashewnut Raw</option>
<option value=91>Cardamom</option>
<option value=92>Rubber</option>
<option value=93>Bitter Gourd</option>
<option value=94>Drum Stick</option>
<option value=95>Jack Fruit</option>
<option value=96>Snak Guard</option>
<option value=97>Pump Kin</option>
<option value=98>Tea</option>
<option value=99>Coffee</option>
<option value=100>Cauliflower</option>
<option value=101>Other Citrus Fruit</option>
<option value=102>Water Melon</option>
<option value=103>Total foodgrain</option>
<option value=104>Kapas</option>
<option value=105>Colocosia</option>
<option value=106>Lentil</option>
<option value=107>Bean</option>
<option value=108>Jobster</option>
<option value=109>Perilla</option>
<option value=110>Rajmash Kholar</option>
<option value=111>Ricebean (nagadal)</option>
<option value=112>Ash Gourd</option>
<option value=113>Beet Root</option>
<option value=114>Lab-Lab</option>
<option value=115>Ribed Guard</option>
<option value=116>Yam</option>
<option value=117>Apple</option>
<option value=118>Peach</option>
<option value=119>Pear</option>
<option value=120>Plums</option>
<option value=121>Litchi</option>
<option value=122>Ber</option>
<option value=123>Other Dry Fruit</option>
<option value=124>Jute & mesta</option>