<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/043883177b.js" crossorigin="anonymous"></script>

    <title>Farm Easy</title>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Farm Easy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/recommend">Crop Recommendation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/yeild">Yeild Prediction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>




            </ul>
        </div>
    </nav>

    <div class="container my-4">

        {%if error1%}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error</strong> Please make sure you enter all values greater than 0 in the given form.
            </div>

        {%endif%}

        {%if error2%}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error</strong> Please make sure you do not leave the form incomplete.
            </div>

        {%endif%}

        {%if error3%}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error</strong> Please make sure that you fill the values in the form based on the range specified.
            </div>

        {%endif%}


        <h2 class="text-center mt-3">Crop Recommendation System</h2>

        

        <div class="alert alert-success my-4" role="alert">
            <h3 class="alert-heading">Data Descrption</h3>
            <div class="markdown-converter__text--rendered my-3" style="user-select: auto;">
                <h4 style="user-select: auto;">Context</h4>
                <p style="user-select: auto;">Precision agriculture is in trend nowadays. It helps the farmers to get informed decision about the farming strategy. Here, I present you a dataset which would allow the users to build a predictive model to recommend the most suitable
                    crops to grow in a particular farm based on various parameters.</p>

                <p style="user-select: auto;">This dataset was build by augmenting datasets of rainfall, climate and fertilizer data available for India.</p>
                <h3 style="user-select: auto;">Data fields</h3>
                <ul style="user-select: auto;">
                    <li style="user-select: auto;"><code style="user-select: auto;">N</code> - ratio of Nitrogen content in soil</li>
                    <li style="user-select: auto;"><code style="user-select: auto;">P</code> - ratio of Phosphorous content in soil</li>
                    <li style="user-select: auto;"><code style="user-select: auto;">K</code> - ratio of Potassium content in soil</li>
                    <li style="user-select: auto;"><code style="user-select: auto;">temperature</code> - temperature in degree Celsius</li>
                    <li style="user-select: auto;"><code style="user-select: auto;">humidity</code> - relative humidity in %</li>
                    <li style="user-select: auto;"><code style="user-select: auto;">ph</code> - ph value of the soil
                    </li>
                    <li style="user-select: auto;"><code style="user-select: auto;">rainfall</code> - rainfall in mm
                    </li>
                </ul>
            </div>

            <hr>

        </div>


        <form action="/recommend/" method="POST">
            {%csrf_token %}

            <div class="form-group my-3">
                <label for="concavemean">Enter the ratio of Nitrogen in the soil</label>
                <input type="text" class="form-control" id="nitrogen" name="nitrogen" placeholder="Enter the ratio of Nitrogen (ideal value must range between 1 - 140) ">
            </div>
            <div class="form-group my-3">
                <label for="concavepoints">Enter the ratio of Phosphorus in the soil</label>
                <input type="text" class="form-control" id="phosphorus" name="phosphorus" placeholder="Enter the ratio for Phosphorus (ideal value must range between 5-145)">

            </div>
            <div class="form-group my-3">
                <label for="radworst"> Enter the ratio of Potassium in the soil</label>
                <input type="text" class="form-control" id="potassium" name="potassium" placeholder="Enter the ratio of Potassium (ideal value must range between 5-200)">
            </div>
            <div class="form-group my-3">
                <label for="perworst">Enter the value for Temperature</label>
                <input type="text" class="form-control" id="temperature" name="temperature" placeholder="Enter the value for Temperature (ideal value must range between 9 to 43)">
            </div>

            <!-- humidity -->
            <div class="form-group my-3">
                <label for="perworst">Enter the value for Humidity in %</label>
                <input type="text" class="form-control" id="humidity" name="humidity" placeholder="Enter the value for Humidity (ideal value must range between 15 to 99)">
            </div>

            <!-- ph -->

            <div class="form-group my-3">
                <label for="perworst">Enter the ph value of the soil</label>
                <input type="text" class="form-control" id="ph" name="ph" placeholder="Enter pH value of the soil (ideal value for ph must range between 2 to 10)">
            </div>

            <!-- rainfall -->

            <div class="form-group my-3">
                <label for="perworst">Enter the value of Rainfall in (mm)</label>
                <input type="text" class="form-control" id="rainfall" name="rainfall" placeholder="Enter the value for Rainfall (ideal value for rainfall must range between 20 and 298)"</label>
            </div>



            <div class="col-md-12 text-center">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Predict</button>
            </div>

        </form>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>